# notes 

- Shape of the dataset is (9450,13) [Note if you are not getting this shape that means your data has not been uploaded correctly to the collab 
- The target feature in the dataset is the 'Price' column. 
- Random state should be taken as 42 wherever applicable. 
- ignore all the warnings while executing the codes.




# MetaData
Airline:The name of the airline 

 `Source`: The source from which the service begins 

 `Destination`: The destination where the service ends 

 `Route`: Route the flight took. 

 `Dep_Time`: The time when the journey starts from the source. 

 `Arrival_Time`: Time of arrival at the destination. 

 `Duration`: Total duration of the flight. 

 `Total_Stops`: Total stops between the source and destination. 

 `Additional_Info`: Additional information about the flight 

 `Price`: The price of the ticket ▶▶▶ Target 

 `Month`: Month of journey. 

 `WeekDay`: Day at which journey started. 

 `Day`: Date of the start of journey.

In [1]:
import pandas as pd  
import IPython.display as display 


# load the dataset 
df = pd.read_csv("Preprocessing1.csv") 
display.display(df)


print(df.info())

display.display(df.describe( include="all"))

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9445,Air India,Banglore,Cochin,BLR → MAA → DEL,19:30,19:50,8h 55m,1 stop,In-flight meal not included,5932,6,Wednesday,12.0
9446,IndiGo,Delhi,Cochin,DEL → BOM → COK,17:00,21:00,8h 35m,1 stop,No info,6838,3,Sunday,3.0
9447,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,07:05,19:45,15h 15m,1 stop,No info,12615,3,Saturday,9.0
9448,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,08:20,19:50,12h 5m,1 stop,No info,10844,5,Saturday,18.0
9449,Air India,Kolkata,Banglore,CCU → GAU → IMF → DEL → BLR,14:30,23:15,8h 45m,3 stops,No info,15145,5,Thursday,9.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          9450 non-null   object
 1   Source           9450 non-null   object
 2   Destination      9450 non-null   object
 3   Route            9449 non-null   object
 4   Dep_Time         9450 non-null   object
 5   Arrival_Time     9450 non-null   object
 6   Duration         9450 non-null   object
 7   Total_Stops      9250 non-null   object
 8   Additional_Info  9450 non-null   object
 9   Price            9450 non-null   int64
 10  Month            9450 non-null   int64
 11  WeekDay          9450 non-null   object
 12  Day              9214 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 959.9+ KB
None

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
count,9450,9450,9450,9449,9450,9450,9450,9250,9450,9450.000000,9450.000000,9450,9214.000000
unique,11,5,6,115,217,1084,354,4,9,NaN,NaN,7,NaN
top,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:00,19:00,2h 50m,1 stop,No info,NaN,NaN,Wednesday,NaN
freq,3318,3958,4066,2037,204,362,456,4748,7375,NaN,NaN,1893,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9027.895556,4.718730,NaN,13.517582
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4466.677471,1.162725,NaN,8.459792
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1759.000000,3.000000,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5198.000000,3.000000,NaN,6.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8366.000000,5.000000,NaN,12.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12373.000000,6.000000,NaN,21.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57209.000000,6.000000,NaN,27.000000

Q1. What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [2]:
total_sum = df["Price"].sum()
print("Total sum of prices:", total_sum)

print(df.shape)
total_number_of_rows = df.shape[0]
print("Total number of rows:", total_number_of_rows)

average_price = df["Price"].mean()
print("Average price:", average_price)    
print("Answer to the question: The average price of the products in the dataset is : ", average_price.round(2))

Total sum of prices: 85313613
(9450, 13)
Total number of rows: 9450
Average price: 9027.895555555555
Answer to the question: The average price of the products in the dataset is :  9027.9

Q2: During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

- January
- May
- October
- December

In [3]:
# get the month series
month_series = df["Month"]
print("Month series:")
display.display(month_series)

month_series.mode()
# return the most frequent month in the dataset
most_frequent_month = month_series.mode()[0]
print("Most frequent month:", most_frequent_month)

Month series:

0       6
1       6
2       3
3       5
4       6
       ..
9445    6
9446    3
9447    3
9448    5
9449    5
Name: Month, Length: 9450, dtype: int64

Most frequent month: 5

Q3: Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

- Weekends (Saturday and Sunday)
- Weekdays

In [4]:
weekday_and_prices_data = df[["WeekDay", "Price"]]
# display the WeekDay and Price columns
print("Weekday and Prices data:")
display.display(weekday_and_prices_data)       



weekdays_price_ = weekday_and_prices_data.groupby("WeekDay")["Price"]
display.display(weekdays_price_)
weekdays_price_mean = weekdays_price_.mean()
print("Average price for each weekday:")
display.display(weekdays_price_mean)   


   
weekend_price_mean = weekdays_price_mean[["Saturday", "Sunday"]].mean()
print("Average price on weekends:", weekend_price_mean) 



weekdays_price_mean[["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]].mean()
print("Average price on weekdays:", weekdays_price_mean[["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]].mean())

Weekday and Prices data:

        WeekDay  Price
0      Thursday  14924
1        Sunday  10577
2        Friday   5678
3        Monday   7408
4        Monday   6724
...         ...    ...
9445  Wednesday   5932
9446     Sunday   6838
9447   Saturday  12615
9448   Saturday  10844
9449   Thursday  15145

[9450 rows x 2 columns]

Average price for each weekday:

WeekDay
Friday       8961.014388
Monday       8834.710081
Saturday     8878.064683
Sunday       9280.047087
Thursday     9013.744025
Tuesday      9275.404342
Wednesday    9091.326994
Name: Price, dtype: float64

Average price on weekends: 9079.055885022131
Average price on weekdays: 9035.239966232984

Q4: Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

In [5]:
df_copy = df.copy()
# create a copy of the original dataframe to avoid modifying it directly


df_copy["Additional_Info"] = df_copy["Additional_Info"].replace("No Info", "No info")


display.display(df_copy)



filtered_data = df_copy[(df_copy["Additional_Info"] == "No info") & (df_copy["Airline"] == "IndiGo")]
print("Filtered DataFrame:")
display.display(filtered_data)


filtered_data.shape
count = filtered_data.shape[0]
count

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9445,Air India,Banglore,Cochin,BLR → MAA → DEL,19:30,19:50,8h 55m,1 stop,In-flight meal not included,5932,6,Wednesday,12.0
9446,IndiGo,Delhi,Cochin,DEL → BOM → COK,17:00,21:00,8h 35m,1 stop,No info,6838,3,Sunday,3.0
9447,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,07:05,19:45,15h 15m,1 stop,No info,12615,3,Saturday,9.0
9448,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,08:20,19:50,12h 5m,1 stop,No info,10844,5,Saturday,18.0
9449,Air India,Kolkata,Banglore,CCU → GAU → IMF → DEL → BLR,14:30,23:15,8h 45m,3 stops,No info,15145,5,Thursday,9.0

Filtered DataFrame:

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
8,IndiGo,Mumbai,Hyderabad,BOM → HYD,19:05,20:35,1h 30m,non-stop,No info,2754,5,Monday,6.0
10,IndiGo,Delhi,Cochin,DEL → BOM → COK,09:00,01:30 10 May,10h,1 stop,No info,8854,6,Thursday,27.0
12,IndiGo,Delhi,Cochin,DEL → BOM → COK,17:30,01:30 16 May,8h,1 stop,No info,6979,5,Wednesday,15.0
18,IndiGo,Chennai,Banglore,MAA → CCU,16:40,14:00,7h 35m,non-stop,No info,3858,5,Monday,6.0
35,IndiGo,Banglore,Delhi,BLR → DEL,22:10,01:00 22 May,2h 50m,non-stop,No info,3625,5,Tuesday,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9425,IndiGo,Mumbai,Cochin,BOM → HYD,16:10,10:40,6h 10m,non-stop,No info,4575,3,Sunday,3.0
9427,IndiGo,Chennai,Kolkata,MAA → CCU,22:05,00:25 10 May,2h 20m,non-stop,No info,5277,5,Thursday,9.0
9429,IndiGo,Kolkata,Banglore,CCU → BLR,09:35,12:20,2h 45m,non-stop,No info,4462,3,Monday,18.0
9438,IndiGo,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,non-stop,No info,3943,5,Friday,3.0
9446,IndiGo,Delhi,Cochin,DEL → BOM → COK,17:00,21:00,8h 35m,1 stop,No info,6838,3,Sunday,3.0

1650

Q5: Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

In [6]:

duration_series = df["Duration"]
print("Duration series:")   
display.display(duration_series) 

# format 26h 35m
def convert_to_second(duration : str ) :
       # strt with 0h and 0m
       hours = 0 
       minutes = 0 
       
       if "h" in duration:
              hours = int(duration.split("h")[0])
              
       if "m" in duration:
              minutes = int(duration.split("m")[0].split("h")[-1])    

       
       return str(hours*3600 + minutes * 60) 




test_duration = convert_to_second("26h 35m")
print(test_duration)

duration_series_in_seconds = duration_series.apply(convert_to_second)
display.display(duration_series_in_seconds)

average_duration_in_seconds = duration_series_in_seconds.astype(int).mean()
print("Average duration in seconds:", average_duration_in_seconds)

Duration series:

0       26h 35m
1           27h
2        1h 30m
3       15h 10m
4        8h 20m
         ...
9445     8h 55m
9446     8h 35m
9447    15h 15m
9448     12h 5m
9449     8h 45m
Name: Duration, Length: 9450, dtype: object

95700

0       95700
1       97200
2        5400
3       54600
4       30000
        ...
9445    32100
9446    30900
9447    54900
9448    43500
9449    31500
Name: Duration, Length: 9450, dtype: object

Average duration in seconds: 38957.93650793651

Apply the following functions to the columns Dep_Time and Arrival_Time:

Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10. 

Then convert the time into four categories as follows:

5 <= hour < 12 = Morning 

12 <= hour < 17 = Afternoon 

17 <= hour < 20 = Evening 

20 <= hour < 5 = Night

Note: Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

Q6: How many flights started in the Morning and arrived the destination at Evening?

In [25]:
import datetime as dt

df_hour = df[["Dep_Time" , "Arrival_Time"]]

df_hour["Arrival_Time"] = df_hour["Arrival_Time"].apply( lambda time : time.strip().split(" ")[0])

# display.display(df_hour)


# Convert to time fomrat 

df_hour["Arrival_Time"] = pd.to_datetime(df_hour["Arrival_Time"] , format="%H:%M").dt.hour
df_hour["Dep_Time"] = pd.to_datetime(df_hour["Dep_Time"] , format="%H:%M" ).dt.hour
# display.display(df_hour)


# a function to categorise 
def categorise(hour):
       if 5 <= hour < 12 :
              return "Morning"
       
       if 12 <= hour < 17 :
              return "Afternoon"
              

       if 17 <= hour < 20 :
              return  "Evening" 

       if 20 <= hour or hour < 5 :
              return "Night"
       
       
# now apply the function to both the row 
df_hour["Arrival_Time_name"] = df_hour["Arrival_Time"].apply(categorise)
df_hour["Dep_Time_name"] = df_hour["Dep_Time"].apply(categorise)
 
# display.display(df_hour)


# now count 
df_required = df_hour[ (df_hour["Arrival_Time_name"] == "Evening")   & (df_hour["Dep_Time_name"] == "Morning")]

display.display(df_required)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_23440\2816427799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hour["Arrival_Time"] = df_hour["Arrival_Time"].apply( lambda time : time.strip().split(" ")[0])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_23440\2816427799.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hour["Arrival_Time"] = pd.to_datetime(df_hour["Arrival_Time"] , format="%H:%M").dt.hour
C:\Users\ASUS\AppData\Local\Temp\ipykernel_23440\2816427799.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hour["Dep_Time"] = pd.to_datetime(df_hour["Dep_Time"] , format="%H:%M" ).dt.hour
C:\Users\ASUS\AppData\Local\Temp\ipykernel_23440\2816427799.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hour["Arrival_Time_name"] = df_hour["Arrival_Time"].apply(categorise)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_23440\2816427799.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hour["Dep_Time_name"] = df_hour["Dep_Time"].apply(categorise)

      Dep_Time  Arrival_Time Arrival_Time_name Dep_Time_name
15          11            19           Evening       Morning
39           5            19           Evening       Morning
48          11            19           Evening       Morning
49           7            19           Evening       Morning
51          11            19           Evening       Morning
...        ...           ...               ...           ...
9415         9            19           Evening       Morning
9432        11            17           Evening       Morning
9433         8            19           Evening       Morning
9447         7            19           Evening       Morning
9448         8            19           Evening       Morning

[922 rows x 4 columns]

Q7: Encode the values of column 'WeekDay' as follows:
Weekends (Sunday, Saturday) = 1
all remaining five days = 0
What is the most frequent (mode) WeekDay?

- Weekends
- Weekdays

In [29]:
df_weekday = df["WeekDay"]

display.display(df_weekday)

def encode_0_1_ (weekday):
       if weekday == "Sunday" or weekday == "Saturday" :
              return 1 
       
       return 0


df_weekday_encoded = df_weekday.apply(encode_0_1_)
display.display(df_weekday_encoded)

print(df_weekday_encoded.mode())

0        Thursday
1          Sunday
2          Friday
3          Monday
4          Monday
          ...
9445    Wednesday
9446       Sunday
9447     Saturday
9448     Saturday
9449     Thursday
Name: WeekDay, Length: 9450, dtype: object

0       0
1       1
2       0
3       0
4       0
       ..
9445    0
9446    1
9447    1
9448    1
9449    0
Name: WeekDay, Length: 9450, dtype: int64

0    0
Name: WeekDay, dtype: int64