# notes 

- Shape of the dataset is (9450,13) [Note if you are not getting this shape that means your data has not been uploaded correctly to the collab 
- The target feature in the dataset is the 'Price' column. 
- Random state should be taken as 42 wherever applicable. 
- ignore all the warnings while executing the codes.




# MetaData
Airline:The name of the airline 

 `Source`: The source from which the service begins 

 `Destination`: The destination where the service ends 

 `Route`: Route the flight took. 

 `Dep_Time`: The time when the journey starts from the source. 

 `Arrival_Time`: Time of arrival at the destination. 

 `Duration`: Total duration of the flight. 

 `Total_Stops`: Total stops between the source and destination. 

 `Additional_Info`: Additional information about the flight 

 `Price`: The price of the ticket ▶▶▶ Target 

 `Month`: Month of journey. 

 `WeekDay`: Day at which journey started. 

 `Day`: Date of the start of journey.

In [1]:
import pandas as pd  
import IPython.display as display 


# load the dataset 
df = pd.read_csv("Preprocessing1.csv") 
display.display(df)


print(df.info())

display.display(df.describe( include="all"))

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
0,Jet Airways,Delhi,Banglore,DEL → BOM → COK,20:00,04:25 10 Jun,26h 35m,1 stop,In-flight meal not included,14924,6,Thursday,6.0
1,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,19:00 10 Jun,27h,1 stop,In-flight meal not included,10577,6,Sunday,9.0
2,Jet Airways,Mumbai,Hyderabad,BOM → HYD,19:35,21:05,1h 30m,non-stop,No info,5678,3,Friday,15.0
3,Multiple carriers,Delhi,Banglore,DEL → BOM → COK,18:55,01:30 16 Jun,15h 10m,1 stop,In-flight meal not included,7408,5,Monday,6.0
4,Air India,Delhi,Cochin,DEL → COK,17:10,17:55,8h 20m,non-stop,No info,6724,6,Monday,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9445,Air India,Banglore,Cochin,BLR → MAA → DEL,19:30,19:50,8h 55m,1 stop,In-flight meal not included,5932,6,Wednesday,12.0
9446,IndiGo,Delhi,Cochin,DEL → BOM → COK,17:00,21:00,8h 35m,1 stop,No info,6838,3,Sunday,3.0
9447,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,07:05,19:45,15h 15m,1 stop,No info,12615,3,Saturday,9.0
9448,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,08:20,19:50,12h 5m,1 stop,No info,10844,5,Saturday,18.0
9449,Air India,Kolkata,Banglore,CCU → GAU → IMF → DEL → BLR,14:30,23:15,8h 45m,3 stops,No info,15145,5,Thursday,9.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          9450 non-null   object
 1   Source           9450 non-null   object
 2   Destination      9450 non-null   object
 3   Route            9449 non-null   object
 4   Dep_Time         9450 non-null   object
 5   Arrival_Time     9450 non-null   object
 6   Duration         9450 non-null   object
 7   Total_Stops      9250 non-null   object
 8   Additional_Info  9450 non-null   object
 9   Price            9450 non-null   int64
 10  Month            9450 non-null   int64
 11  WeekDay          9450 non-null   object
 12  Day              9214 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 959.9+ KB
None

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
count,9450,9450,9450,9449,9450,9450,9450,9250,9450,9450.000000,9450.000000,9450,9214.000000
unique,11,5,6,115,217,1084,354,4,9,NaN,NaN,7,NaN
top,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:00,19:00,2h 50m,1 stop,No info,NaN,NaN,Wednesday,NaN
freq,3318,3958,4066,2037,204,362,456,4748,7375,NaN,NaN,1893,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9027.895556,4.718730,NaN,13.517582
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4466.677471,1.162725,NaN,8.459792
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1759.000000,3.000000,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5198.000000,3.000000,NaN,6.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8366.000000,5.000000,NaN,12.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12373.000000,6.000000,NaN,21.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57209.000000,6.000000,NaN,27.000000

Q1. What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [2]:
total_sum = df["Price"].sum()
print("Total sum of prices:", total_sum)

print(df.shape)
total_number_of_rows = df.shape[0]
print("Total number of rows:", total_number_of_rows)

average_price = df["Price"].mean()
print("Average price:", average_price)    
print("Answer to the question: The average price of the products in the dataset is : ", average_price.round(2))

Total sum of prices: 85313613
(9450, 13)
Total number of rows: 9450
Average price: 9027.895555555555
Answer to the question: The average price of the products in the dataset is :  9027.9

Q2: During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

- January
- May
- October
- December

In [13]:
# get the month series
month_series = df["Month"]
print("Month series:")
display.display(month_series)

month_series.mode()
# return the most frequent month in the dataset
most_frequent_month = month_series.mode()[0]
print("Most frequent month:", most_frequent_month)

Month series:

0       6
1       6
2       3
3       5
4       6
       ..
9445    6
9446    3
9447    3
9448    5
9449    5
Name: Month, Length: 9450, dtype: int64

Most frequent month: 5

Q3: Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

- Weekends (Saturday and Sunday)
- Weekdays

In [ ]:
weekday_and_prices_data = df[["WeekDay", "Price"]]
# display the WeekDay and Price columns
print("Weekday and Prices data:")
display.display(weekday_and_prices_data)       



weekdays_price_ = weekday_and_prices_data.groupby("WeekDay")["Price"]
display.display(weekdays_price_)
weekdays_price_mean = weekdays_price_.mean()
print("Average price for each weekday:")
display.display(weekdays_price_mean)   


   
weekend_price_mean = weekdays_price_mean[["Saturday", "Sunday"]].mean()
print("Average price on weekends:", weekend_price_mean) 



weekdays_price_mean[["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]].mean()
print("Average price on weekdays:", weekdays_price_mean[["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]].mean())

Weekday and Prices data:

        WeekDay  Price
0      Thursday  14924
1        Sunday  10577
2        Friday   5678
3        Monday   7408
4        Monday   6724
...         ...    ...
9445  Wednesday   5932
9446     Sunday   6838
9447   Saturday  12615
9448   Saturday  10844
9449   Thursday  15145

[9450 rows x 2 columns]

Average price for each weekday:

WeekDay
Friday       8961.014388
Monday       8834.710081
Saturday     8878.064683
Sunday       9280.047087
Thursday     9013.744025
Tuesday      9275.404342
Wednesday    9091.326994
Name: Price, dtype: float64

Average price on weekends: 9079.055885022131
Average price on weekdays: 9035.239966232984

Q4: Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

Q5: Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

Apply the following functions to the columns Dep_Time and Arrival_Time:

Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10. 

Then convert the time into four categories as follows:

5 <= hour < 12 = Morning 

12 <= hour < 17 = Afternoon 

17 <= hour < 20 = Evening 

20 <= hour < 5 = Night

Note: Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

Q6: How many flights started in the Morning and arrived the destination at Evening?

Q7: Encode the values of column 'WeekDay' as follows:
Weekends (Sunday, Saturday) = 1
all remaining five days = 0
What is the most frequent (mode) WeekDay?

- Weekends
- Weekdays